
        <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Sala<span>de</span>Juegos</div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="ingrese usuario"  [(ngModel)]="miUsuario.correo" name="user"><br>
				<input type="password" placeholder="ingrese contraseña" [(ngModel)]="miUsuario.contrasena"  name="password"><br>
				<input type="button" (click)="Registrar()" value="Registrar">
                <input type="button" (click)="iraLogin()" value="Volver a Login">

		</div>