

  <div class="card-deck">
    <div class="card" >
      <img class="card-img-top" src="../../../assets/imagenes/ahorcado.png"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ahorcado</h5>
        <p class="card-text">El ordenador te propondrá una palabra y tendrás que adivinarla, al igual que en el juego tradicional, pero será la máquina la que irá resolviendo la palabra y el muñeco. Tendrás un tiempo para resolverlo y te puntuará en función de tus respuestas.</p>
      </div>
     
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/mayormenor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mayor o Menor</h5>
          <p class="card-text">Desde un mazo de carta se va a preguntar si la siguiente es mayor o menor.
            El jugador sumará un punto ante cada carta que adivine.</p>
        </div>
        
      </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagenes/preguntados.png"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Preguntados</h5>
        <p class="card-text">Preguntados es un juego de preguntas y respuestas de seis categorías diferentes: geografía, historia, arte, ciencia, entretenimiento, deportes. Gira la rueda y el azar decidirá las preguntas que tendrás que responder.</p>
      </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagenes/tetris.png"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tetris</h5>
        <p class="card-text">El objetivo es hacer caer piezas e ir rellenando huecos para conseguir hacer líneas. Una vez creadas, desaparecen.Mientras mas puntos mejor!</p>
      </div>
      
    </div>
  </div>