
<div class="body">

<div class="login">
	<div class="header">
		<div>Sala<span>de</span>Juegos</div>
	</div>
	<div class="titulo">
		<div>Login</div>
	</div>
	<form name="form" [formGroup]="formularioContacto" > 
		

		 <div class="form-group">
			<input type="text" class="form-control" [(ngModel)]="miUsuario.correo" placeholder="ingrese correo" formControlName="correo"
			  [class]="isValidField('correo')">
			<div class="invalid-feedback">
			  <span *ngIf="formularioContacto.get('correo')?.errors?.['pattern']">
				El correo debe tener un formato valido.
			  </span>
			  <span *ngIf="formularioContacto.get('correo')?.errors?.['required']">
				El correo no puede quedar vacio.
			  </span>
			</div>


			<input type="password" class="form-control" [(ngModel)]="miUsuario.contrasena" placeholder="ingrese contraseña" formControlName="contraseña"
			  [class]="isValidField('contraseña')">
			<div class="invalid-feedback">
			  <span *ngIf="formularioContacto.get('contraseña')?.errors?.['required']">
				La contraseña no puede quedar vacia.
			  </span>
			  <span *ngIf="formularioContacto.get('contraseña')?.errors?.['minlength']">
				La contraseña debe tener por lo menos los 6 minimos caracteres para ser valida.
			  </span>
			</div>
		  </div>
		<input type="button" (click)="onLogin()" value="Ingresar"> 
		<input type="button" (click)="admin()"  value="Ingresar como admin">
		<input type="button" (click)="invitado()"  value="Ingresar como invitado">
		<br>

		<div> <span >{{resultado}}</span></div>

		<h2>No tienes usuario registrado?</h2>
		<input type="button" (click)="registrar()" value="Registrar">


</form>
</div>
</div>
     

		


