



<div class="body">
  <app-navbar></app-navbar>
 <div class="titulo">
    <img src="../../assets/imagenes/yo.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
	</div>

<div class="header">
			<h3>Bienvenidos a SALA DE JUEGOS</h3>
			 <p>Mi nombre es Gisela Acosta. Soy alumna de la UTN.
        La aplicacion que he desarrollado se llama Tetris.El objetivo es hacer caer piezas e ir rellenando huecos para conseguir hacer líneas. Una vez creadas, desaparecen, y nos interesa hacerlo de cuatro en cuatro en vez de una en una por los puntos que hay implicados en ello. Si consigues una de cuatro, felicidades, acabas de hacer un Tetris.
        Espero que disfruten del juego.	</p>
	</div>

  </div>
