body {
    height: 100%;
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: 0 auto;
  }
  
  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../../../assets/imagenes/fondologin.jpg); 
	width: 100%;
	max-width: 0 auto;
	padding: 0 auto;
	margin: 0 auto;
  }



.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 45px;
	font-weight: 300;
}

.header{
	position: absolute;
	top: calc(50% - 00px);
	left: calc(50% - 255px);
	z-index: 2;
  max-width:50%;
  max-height:50%;
  color: #fff;
}
.titulo{
	position: absolute;
	top: calc(40% - 50px);
	left: calc(40% - 350px);
	z-index: 2;
}

.header{
	position: absolute;
	 top: calc(50% - 100px);
	left: calc(100% 60px); 
	z-index: 2;
  
}
img{
	position: relative;
  display: flex;

  max-width:40%;
  max-height:40%;
  z-index: 2;

}
.titulo div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 45px;
	font-weight: 300;
}
.header div span{
	color: #aebbe7 !important;
}


