



<div class="body">
  <app-navbar></app-navbar>
 <div class="titulo">
    <img src="../../assets/imagenes/yo.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
	</div>

<div class="header">
			<h3>Bienvenidos a SALA DE JUEGOS</h3>
				
    <p>

				Mi nombre es Gisela Acosta. Soy alumna de la UTN.
        La aplicacion que he desarrollado se llama Tetris.El objetivo es hacer caer piezas e ir rellenando huecos para conseguir hacer líneas. Una vez creadas, desaparecen, y nos interesa hacerlo de cuatro en cuatro en vez de una en una por los puntos que hay implicados en ello. Si consigues una de cuatro, felicidades, acabas de hacer un Tetris.
        Espero que disfruten del juego.
			</p>

		


		
		</div>
   <!-- <app-footer></app-footer>  -->

<!--    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover">
      <h1 class="cover-heading">Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer> -->
  </div>
